<div class="container">
  <h2>コミュニティ追加</h2>
  
  <div>
    <%= form_with model: @group, url: groups_path, method: :post, local:true do |f| %>
    
    <div class="field">
      <%= f.label :グループ画像%>
      <%= f.attachment_field :group_image %>
    </div>
    
    <div class="field">
      <%= f.label :グループ名%>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :概要 %>
      <%= f.text_area :introduction %>
    </div>
    
    <div class="field">
      <%= f.label :ジャンル %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {:prompt => "-- 選択してください --"}, {class: "genre_width px-1"}) %>
    </div>
    
    <div class="actions">
      <%= f.submit "保存する" %>
    </div>
    
    <% end %>
  </div>
</div>