<div class="top-visual">

  <div class="container">
    <div class="row py-5">
      <div class="about-contents mx-auto text-white">
        <h1 class="text-center py-4">クリコミへようこそ！</h1>
        <div class="text-right mt-3 mr-3"><%= link_to "概要へ", about_path %></div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="beginner-contents mx-auto text-white">
        <h3 class="text-center pt-4">これからYouTubeを始める方へ</h3>
        <div class="text-right mt-5 mr-3"><%= link_to "詳細へ", homes_beginner_path %></div>
      </div>
      <div class="already_work-contents mx-auto text-white">
        <h3 class="text-center pt-4">既にYouTubeで活動している方へ</h3>
        <div class="text-right mt-5 mr-3"><%= link_to "詳細へ", homes_already_work_path %></div>
      </div>
    </div>
    <div class="col-6 mx-auto">
      <div class="pb-3"><%= link_to "新規登録", new_user_registration_path, class:"btn btn-success form-control" %></div>
      <div><%= link_to "ログイン", new_user_session_path, class:"btn btn-primary form-control" %></div>
    </div>
  </div>
</div>