<!DOCTYPE html>
<html>
  <head>
    <title>Kurikomi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="notice" class="bg-success text-center text-white"><%= notice %></div>
    <div id="alert" class="bg-danger text-center text-white"><%= alert %></div>
    <main>
      
      <%= yield %>
    </main>
    
    <%= render "layouts/footer" %>
  </body>
</html>
